language: java
dist: xenial

install: true
sudo: required

cache:
  directories:
  - '$HOME/.m2'

stages:
  - build
  - test
  - system-test
  - name: browserstack
    if: branch = master AND type = push AND fork = false

matrix:
  include:
    - stage: build
      jdk: openjdk8
      env: CI_SCRIPT=ci/build.sh
    - stage: build
      jdk: openjdk11
      env: CI_SCRIPT=ci/build.sh

    - stage: test
      jdk: openjdk8
      env: CI_SCRIPT=ci/test.sh
    - stage: test
      jdk: openjdk11
      env: CI_SCRIPT=ci/test.sh

    - stage: system-test
      jdk: openjdk8
      addons:
        chrome: stable
      services:
        - xvfb
      env: CI_SCRIPT=ci/system-test.sh
      after_success:
        - chmod +x ci/report_upload.sh
        - ci/report_upload.sh
    - stage: system-test
      jdk: openjdk11
      addons:
        chrome: stable
      services:
        - xvfb
      env: CI_SCRIPT=ci/system-test.sh

    - stage: browserstack
      jdk: openjdk8
      branches:
        only:
          - master
      env: CI_SCRIPT=ci/browserstack.sh
script:
  - "chmod -R +x ci"
  - "$CI_SCRIPT"
