name: BrowserStack

on:
  push:
    branches: master

env:
  BROWSERSTACK_USER: github13CXXhC
  BROWSERSTACK_KEY: ${{ secrets.BROWSERSTACK_KEY }}

jobs:
  browserstack:
    name: BrowserStack ${{ matrix.browser }} on Java ${{ matrix.java }}
    if: github.repository == 'EmbedITCZ/jbehave-support'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 17 ]
        browser: [ Chrome, Firefox, Safari ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: BrowserStack Env Setup
        uses: browserstack/github-actions/setup-env@master
        with:
          username: ${{ env.BROWSERSTACK_USER }}
          access-key: ${{ env.BROWSERSTACK_KEY }}
      - name: BrowserStack Local Setup
        uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: start
          local-identifier: random
      - name: BrowserStack${{ matrix.browser }}T on Java ${{ matrix.java }}
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            xvfb-run mvn verify -DskipUnitTests=true -Djbehave.report.level=STORY -Dbrowser-stack.username=${BROWSERSTACK_USER} -Dbrowser-stack.key=${BROWSERSTACK_KEY} -Dit.test=**/BrowserStack${{ matrix.browser }}T -Pintegration-test -B -V
      - name: BrowserStack Local Stop
        uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: stop
