name: CI

on: [push, pull_request]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build on Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 17 ]
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Build with Java ${{ matrix.java }}
        run: mvn clean install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

  test:
    needs: build
    name: Test on Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 17 ]
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Test with Java ${{ matrix.java }}
        run: |
          mvn org.jacoco:jacoco-maven-plugin:prepare-agent test org.jacoco:jacoco-maven-plugin:report -B -V
      - name: Upload test coverage for unit tests
        if: matrix.java == 17
        uses: actions/upload-artifact@v2.3.1
        with:
          name: jacoco
          path: jbehave-support-core/target/site/jacoco/jacoco.xml

  system-test:
    name: System test on Java ${{ matrix.java }}
    needs: [ build, test ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 17 ]
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Start test app with Java ${{ matrix.java }}
        run: |
          mvn -f jbehave-support-core-test/jbehave-support-core-test-app/pom.xml package spring-boot:start
      - name: System test with Java ${{ matrix.java }}
        run: |
          xvfb-run mvn org.jacoco:jacoco-maven-plugin:prepare-agent-integration verify org.jacoco:jacoco-maven-plugin:report-integration -DskipUnitTests=true -Djbehave.report.level=STORY -D--add-opens -Djava.base/java.lang=ALL-UNNAMED -B -V
      - name: Stop test app with Java ${{ matrix.java }}
        if: always()
        run: mvn -f jbehave-support-core-test/jbehave-support-core-test-app/pom.xml spring-boot:stop
      - name: Upload reports on Java ${{ matrix.java }}
        uses: actions/upload-artifact@v2.3.1
        if: always()
        with:
          name: reports-java-${{ matrix.java }}
          path: jbehave-support-core/target/reports
      - name: Upload test coverage for integration tests
        if: matrix.java == 17
        uses: actions/upload-artifact@v2.3.1
        with:
          name: jacoco-it
          path: jbehave-support-core/target/site/jacoco-it/jacoco.xml

  sonar:
    name: Sonar integration
    if: github.ref == 'refs/heads/master' && github.repository == 'EmbedITCZ/jbehave-support'
    needs: [ build, test, system-test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Download result for test execution
        uses: actions/download-artifact@v2
        with:
          name: jacoco
      - name: Download test coverage result for integration and system test execution
        uses: actions/download-artifact@v2
        with:
          name: jacoco-it
      - uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up Java 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Run Maven
        run: mvn package -DskipTests org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=EmbedITCZ_jbehave-support -Dsonar.organization=embeditcz -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONAR_TOKEN }} -Dsonar.coverage.jacoco.xmlReportPaths=/home/runner/work/jbehave-support/jbehave-support/jacoco/jacoco.xml,/home/runner/work/jbehave-support/jbehave-support/jacoco-it/jacoco.xml -e -X
